@import '../../shared/styles/global.scss';

.cart-products {
  position: relative;
  overflow: hidden;
  width: 100%;
  .product-list-wrap {
    position: relative;
    width: 70%;
    float: left;
    display: inline-block;
  }
  .product-Billing-wrap {
    position: relative;
    width: 30%;
    float: left;
    display: inline-block;
    .product-Billing-main {
      border: 1px solid $borderColor;
      margin: 0px 20px;
      padding: 10px 20px;
      .checkout-btn {
        border-radius: 0px !important;
        background-color: $addbuttoncolor;
        border-color: $addbuttoncolor;
        font-size: 12px;
        width: 100%;
        font-weight: 700;
        height: 25px;
        color: $textWhiteColor;
      }
    }
  }
}
